body {
    background-color: white;
    margin: 0;
}

/* #header {border: thin solid balck */

.grind-container {
    border: thin solid green;
    display: grid;
    grid-template-areas: 'header header header header header header'
                         'right right content content content content'
                         'footer footer footer footer footer footer';
    grid-gap: 10px;
}

#header { grid-area: header; }
#right { grid-area: right; }
#content { grid-area: content;

grid-area: content;
text-align: center;
}

#footer { grid-area: footer; }

.box {
 border: thin solid green;
}
